<ion-header no-border>
  <ion-navbar transparent hideBackButton="true">
    <ion-title text-center><br>Muestra seleccionada</ion-title>
    <p text-color="my-custom-color" offset-md-2 col-md-8 text-justify>
      El proyecto <strong>“Sistema de Información Energética de Edificios en Ecuador-SIE3”</strong>, enfoca el  análisis de 502 edificios públicos ubicados en la costa ecuatoriana e islas Galápagos regiones donde existe un alto consumo eléctrico debido a su ubicación en una zona climática húmeda muy calurosa.  La muestra seleccionada incluye: unidades policiales, hospitales, centros de salud, centros de ayuda social, centros educativos y otras edificaciones de servicio público agrupadas de acuerdo a la Figura.
    </p>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-fab left bottom>
    <button disabled ion-fab [attr.mini]="!ancho ? '' : null" color="light" icon-only (click)="anterior()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab hidden center bottom>
    <button hidden ion-fab [attr.mini]="!ancho ? '' : null" color="light" icon-only (click)="recargar()">
      <ion-icon name="refresh"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab right bottom>
    <button ion-fab [attr.mini]="!ancho ? '' : null" color="light" icon-only (click)="siguiente()">
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
  </ion-fab>

  <div *ngIf="!ancho">
    <iframe style="position:fixed; top:10px; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"
      src="https://plot.ly/~David199101/9.embed?link=false&modebar=false?link=false&modebar=false" frameborder="0"></iframe>
  </div>
  <div *ngIf="ancho">
    <iframe style="position:fixed; top:100px; left:0px; bottom:0px; right:0px; width:100%; height:90%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"
      src="https://plot.ly/~David199101/11.embed?link=false&modebar=false?link=false&modebar=false" frameborder="0"></iframe>
  </div>
</ion-content>
