  <ion-header no-border>
    <ion-navbar transparent hideBackButton="true">
      <ion-title text-center><br>Benchmarking</ion-title>
      <p text-color="my-custom-color" offset-md-2 col-md-8 text-justify>
        Mediante el benchmarking se obtuvo una mediana de IUE (línea dentro de la caja) de cada tipología. Para representar la variabilidad del IUE dentro de cada tipología, las barras recogen los valores del 90% de la muestra de , dejando fuera el 5% de las edificaciones con mayor IUE y el 5% de menor IUE.
      </p>
    </ion-navbar>
  </ion-header>

  <ion-content no-padding>
    <ion-fab left bottom>
      <button ion-fab [attr.mini]="!ancho ? '' : null" color="light" icon-only (click)="anterior()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-fab>

    <ion-fab right bottom>
      <button ion-fab [attr.mini]="!ancho ? '' : null" color="light" icon-only (click)="siguiente()">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-fab>

    <div *ngIf="!ancho">
      <iframe style="position:fixed; top:60px; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"
        src="https://plot.ly/~David199101/18.embed?link=false&modebar=false" frameborder="0"></iframe>
    </div>
    <div *ngIf="ancho">
      <iframe style="position:fixed; top:100px; left:0px; bottom:0px; right:0px; width:100%; height:90%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"
        src="https://plot.ly/~David199101/13.embed?link=false&modebar=false" frameborder="0"></iframe>
    </div>
  </ion-content>
